.env
.vscode
output/*.jpg
set_python_env
demos/**/temp
demos/ffprocessreallyfinal/backgroundtemp/*.jpg
env
.DS_Store
node_modules
private/
articles/**/code/output/*.jpg
articles/**/output/*.jpg
.npmrc
setupenv.sh 
